<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javacode2018.chat02.UserMapper">

    <insert id="insertUser" parameterType="com.javacode2018.chat02.UserModel">
        <![CDATA[
            INSERT INTO t_user (id,name,age,salary,sex) VALUES (#{id},#{name},#{age},#{salary},#{sex})
        ]]>
    </insert>

    <update id="updateUser" parameterType="com.javacode2018.chat02.UserModel">
        <![CDATA[
            UPDATE t_user SET name=#{name}, age=#{age}, salary=#{salary}, sex=#{sex} where id=#{id}
        ]]>
    </update>

    <update id="deleteUser" parameterType="com.javacode2018.chat02.UserModel">
        <![CDATA[
            DELETE FROM t_user WHERE id=#{id}
        ]]>
    </update>

    <select id="getUserList" resultType="com.javacode2018.chat02.UserModel">
        <![CDATA[
            SELECT * FROM t_user
        ]]>
    </select>


</mapper>