<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="demo03/jdbc.properties"/>
    <environments default="chat04">
        <environment id="chat04">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.javacode2018.chat03.demo04.mapper"/>
    </mappers>
</configuration>