<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javacode2018.chat03.demo03.mapper.OrderMapper">
    <select id="getList" resultType="com.javacode2018.chat03.demo03.model.OrderModel">
        select * from t_order
    </select>
</mapper>