<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.LectureMapper">
    <resultMap id="lectureMap" type="model.LectureModel">
        <id property="id" column="id"/>
        <result property="lectureName" column="lecture_name"/>
        <result property="note" column="note"/>
    </resultMap>
    <select id="mapper.LectureMapper.getLecture" parameterType="int" resultMap="lectureMap">
        select id, lecture_name, note from t_lecture where id=#{id}
    </select>
</mapper>