<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javacode2018.chat04.demo1.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.javacode2018.chat04.demo1.model.UserModel">
        insert into t_user (id,name,age,salary,sex) values(#{id},#{name},#{age},#{salary},#{sex})
    </insert>
    <update id="updateUser" parameterType="com.javacode2018.chat04.demo1.model.UserModel">
        update t_user set name=#{name}, age=#{age}, salary=#{salary}, sex=#{sex} where id=#{id}
    </update>
    <delete id="deleteUser" parameterType="com.javacode2018.chat04.demo1.model.UserModel">
        delete from t_user where id=#{id}
    </delete>
    <insert id="insertUser1" parameterType="com.javacode2018.chat04.demo1.model.UserModel" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (id,name,age,salary,sex) values(#{id},#{name},#{age},#{salary},#{sex})
    </insert>
    <insert id="insertUser2" parameterType="com.javacode2018.chat04.demo1.model.UserModel">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into t_user (id,name,age,salary,sex) values(#{id},#{name},#{age},#{salary},#{sex})
    </insert>
</mapper>